{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">

    <title>Wayne Bankings</title>

    <!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="credentials/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="credentials/register">Register</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Branches
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thiruvananthapuram" target="_blank">Trivandrum</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kollam" target="_blank">Kollam</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Ernakulam" target="_blank">Ernakulam</a>
                <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Palakkad" target="_blank">Palakkad</a>
                <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kottayam" target="_blank">Kottayam</a>
                <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kannur" target="_blank">Kannur</a>
                <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kasaragod" target="_blank">Kasargod</a>
                <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Malappuram" target="_blank">Malappuram</a>
                <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Idukki_district" target="_blank">Idukki</a>
                <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thrissur" target="_blank">Thrissur</a>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container-lg">
  <h1 class="mt-4">Wayne <br>Bankings Co.</h1>
  <p>Wayne Investment, subsidiary company owned by Wayne Enterprises, Inc., also known as WayneCorp and Wayne Industries, is a wealthy fictional company appearing in America, commonly in association with Mr. Bruce Wayne. Wayne Enterprises is a large, growing multinational company. </p>
</div>

          <div class="container">
            <div class="more_bt"><a href="credentials/login">User LogIn </a></div>
          </div>







</body>
</html>